a
{
    color: #3282b8;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
}

a:hover
{
  color: #5fb3eb  
}

body
{
    margin: 0px;
    background-color: #dae5eb;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
}

hr
{
    border-color: #0f4c75;
    border-style: solid;
    border-width: 0.25rem;
    border-radius: 50rem;
    width: 45%;
}

h1
{
    color: #0f4c75;
    font-family: 'Raleway', sans-serif;
}

h2, h3
{
    color: #3282b8;
    font-family: 'Raleway', sans-serif;
}

p
{
    color: #1b262c;
}

td
{
    color: #1b262c;
}

th
{
    color: #1b262c;
}

.banner
{
    padding: 30px;
}

.links
{
}

.education
{
    padding: 30px;
}

.interests
{
    padding: 30px;
}

.profile
{
    background: #3282b8;
    border-color: #1b262c;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
}