a
{
    color: #3282b8;
    padding-left: 1%;
    padding-right: 1%;
}

body
{
   background-color: #dae5eb; 
}

hr
{
    border-color: #0f4c75;
    border-style: none;
    border-top-style: dashed;
    border-width: 8px;
    width: 45%;
}

h1
{
    color: #0f4c75;
}

h3
{
    color: #3282b8;
}

p
{
    color: #1b262c;
}

td
{
    color: #1b262c;
}

th
{
    color: #1b262c;
}

.links
{
    text-align: center;
}

.profile
{
    background: #3282b8;
    border-color: #1b262c;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
}