body
{
    position:relative;
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
}

footer
{
    position:absolute;
    padding-bottom:30px;
    padding-top:30px;
    background-color:#0f4c75;
    width:100%;
    bottom:0;
}

header
{
    position:absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0f4c75;
    width:100%;
    top:0;
}

a
{
    color: #4096cf;
    text-decoration: none;
    transition: all 0.3s; 
}

a:hover
{
    color: #64bcf7;
}

hr
{
    background-color: #0f4c75;
    border-color: #0f4c75;
    border-style: solid;
    border-radius: 50rem;
    border-width: 0.25rem;
}

h1
{
    color: #0f4c75;
    font-family: 'Spline Sans', sans-serif;
}

h2, h3
{
    color: #3282b8;
    font-family: 'Spline Sans', sans-serif;
}

p
{
    color: #1b262c;
}

.copyright
{
    padding-top:10px;
    margin:0px;
    color:#dae5eb;
}

.foot-link
{
    margin: 0 1%;
}

.nav-element
{
    padding: 0 20px;
    list-style: none;
    display:inline-block;
}

.nav-name
{
    padding: 0 20px;
    margin: 0;
}

.profile
{
    background: #0f4c75;
    border-radius: 5%;
    padding: 5px;
    width: 300px;
    height: 300px;
}

.square-image
{
    transition: 1s;
    width: 300px;
    height: 300px;
    margin: 15px;
    object-fit: cover;
    object-position: 0% 0%;
}

.square-image:hover
{
    filter: drop-shadow(0px 0px 5px black);
    object-position: 100% 100%;
}

.image-limit
{
    max-height: 400px;
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.small-image-limit
{
    max-height: 300px;
    max-width: 600px;
    margin: 15px;
}

.section
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.top
{
    padding-top: 100px;
}

.end
{
    padding-bottom: 150px;
}

.inv-title
{
    margin-bottom: 0px;
}

.inv-date
{
    margin-top: 5px;
}

.selected
{
    pointer-events: none;
    cursor: default;
    color: #64bcf7;
}

.para-body
{
    width: 50%;
    display:inline-block
}

.horizontal-line
{
    width: 45%;
}

.vertical-line
{
    height: 125px;
    width: 5px;
    margin-top:0px;
    margin-bottom:0px;
}

.banner-text
{
    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-margin
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.no-bottom-margin
{
    margin-bottom: 0px;
}

.small-margin
{
    margin: 5px;
}

.caption
{
    margin: 0px;
    padding: 0px;
}